.Headsection_border {
    width: 100%;
    background-color: rgba(248, 227, 235, 0.2);
}

.HeadSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    padding: 4rem 2rem;
}

.HeadSection_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.HeadSection_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.HeadSection_left_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.HeadSection_left_content span {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 24px;
    background: linear-gradient(90deg, rgb(255, 77, 141), #d4af37);
    background-clip: text;
    color: transparent;
    border: 1px solid #ff4d8d;
    border-radius: 2rem;
}

.HeadSection_left_content h1 {
    font-size: 80px;
    color: black;
    font-weight: 700;
    line-height: 1.2;
}

.HeadSection_left_content h2 {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(90deg, #ff4d8d, #d4af37);
    background-clip: text;
    color: transparent;
    line-height: 1.2;
}

.HeadSection_left_content p {
    font-size: 25px;
    line-height: 4;
}

.rusTavi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.rusTavi h3 {
    font-size: 23px;
    background: linear-gradient(90deg, #ff4d8d, #d4af37);
    background-clip: text;
    color: transparent;
    line-height: 1.2;
}

.button_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
    gap: 2rem;
}

.btnn {
    align-items: center;
    justify-content: center;
    padding: 1.6rem 1.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 1.5rem;
    color: white;
    background: linear-gradient(90deg, #ff4d8d, #d4af37);
    border: none;
    transition: all 0.4s;
    text-decoration: none;
}

.btnn:hover {
    background: linear-gradient(90deg, #d4af37, #ff4d8d);
    transform: scale(1.05);
}

.gallery-cnob {
    align-items: center;
    justify-content: center;
    padding: 1.5rem 8rem;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 1.5rem;
    border: 2px solid #ff4d8d;
    transition: all 0.4s;
    color: #ff4d8d;
    text-decoration: none;
}

.gallery-cnob:hover {
    background: #ff4d8d;
    transform: scale(1.05);
    color: white;
}

/* ტაბლეტი */
@media (max-width: 1024px) {
    .HeadSection_left_content h1,
    .HeadSection_left_content h2 {
        font-size: 60px;
    }

    .HeadSection_left_content p {
        font-size: 20px;
    }

    .gallery-cnob {
        padding: 1.5rem 4rem;
    }
}

/* მობილური */
@media (max-width: 768px) {
    .HeadSection {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3rem 2rem;
    }

    .HeadSection_right {
        display: none;
    }

    .HeadSection_left {
        align-items: center;
    }

    .HeadSection_left_content {
        align-items: center;
    }

    .HeadSection_left_content h1,
    .HeadSection_left_content h2 {
        font-size: 48px;
    }

    .HeadSection_left_content span {
        font-size: 18px;
    }

    .HeadSection_left_content p {
        font-size: 18px;
        line-height: 2;
        text-align: center;
    }

    .rusTavi {
        align-items: center;
    }

    .rusTavi h3 {
        font-size: 18px;
        text-align: center;
    }

    .button_div {
        flex-direction: column;
        width: 100%;
    }

    .btnn,
    .gallery-cnob {
        width: 100%;
        text-align: center;
        padding: 1.5rem;
    }
}